* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.375em;
    color: #444;
    background-image: url('../images/hetverhaal.png');
    /*    background-position: bottom;*/
    background-size: 100%;
    background-repeat: no-repeat;
    /*    padding-bottom: 15em;*/
}

img {
    display: block;
}


/*navigatie*/

nav {
    background-color: #73d700;
    display: flex;
    justify-content: center;
    padding: 0.6em;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 2em;
    width: auto;
    margin: 0.2em;
}

nav ul {
    display: flex;

}

nav li {
    list-style: none;
}



/*hoofd*/

section {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1em;

}

/*onderrij*/
section div {
    display: flex;
    justify-content: flex-end;
    margin: 0.5em 0em 0.5em 0em;
    align-items: center;
}


/*download*/
section div >a:first-of-type {
        margin-right: auto;
    margin-left: 0.5em;
}

section div > a img {
    max-height: 2.9em;
    max-width: 2.9em;
    min-width: 2.5em;


}


/*sterren*/
section div div {
    background-color: #f1f1f1;
    border-radius: 1.5em;
    display: flex;
    padding: 0.3em;
    align-items: center;
    margin: 0em 1em 0em 1em;

}

section div div p:nth-of-type(1) {
    margin: 0em 0.5em;
}

section div div p:nth-of-type(2) {
    background-color: #ffffff;
    border-radius: 100%;
    padding: 0.3em;
    min-width: 2em;
    text-align: center;
}


/*favorieten*/
section div a:nth-of-type(2) img {
    min-width: 2.5em;
    max-height: 2.9em;
    max-width: 2.9em;
    margin-right: 1em;
    border: 0.1em solid #73d700;
    border-radius: 5px;
    padding: 0.3em;

}



/*tekst*/




/*forms*/




fieldset {
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

fieldset div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


label {
    display: block;

}

label:last-of-type {
    margin-bottom: 1em;
}

input {
    padding: 2px 5px;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    font-size: 1em;
    margin: 0.3em;
}


/*article*/








/*buttons*/

a {
    text-decoration: none;
    color: #00b5e2;

    :hover {
        text-decoration: underline;
    }
}


.button {
    padding: 0.6em 0.9em;
    /*    min-width: 9em;*/
    min-height: 2.25em;
    font-size: 1.125em;
    font-weight: 400;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    background-color: #73d700;
    color: #ffffff;
    border: 1px solid #73d700;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: 400;
}

.button:hover {
    text-decoration: none;
    background-color: #5cac00;
}

.button.secondairy {
    background-color: #ffad01;
    border: 1px solid #ffad01;
    /*    margin: 1em;*/
}


fieldset button {
    padding: 0.6em 0.9em;
    min-width: 9em;
    min-height: 2.25em;
    font-size: 1.125em;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    background-color: #ffad01;
    border: 1px solid #ffad01;
}





@media screen and (min-width:20em) {


    .sorteren {
        display: none;
    }

    .filteren {
        display: none;
    }

    .is-open {
        display: block;
    }
}


@media screen and (min-width:44em) {
    body {
        background-image: url('../images/hetverhaal.png');
    }



}

@media screen and (min-width:75em) {

    body {
        padding-bottom: 20em;
    }


}
